.t3-footer {
  background: #c00;
  color: #fff;
}
.t3-footer a {
  color: #ffcccc;
}
.t3-footer a:hover,
.t3-footer a:active,
.t3-footer a:focus {
  color: #fff;
}
.t3-footnav .module-title {
  color: #fff;
}
.t3-copyright {
  border-top: 1px solid #e60000;
}