.logo-control .logo-img-sm {
  display: none;
}
.logo-control .logo-img {
  display: block;
}
.body-data-holder:before {
  display: none;
  content: "grid-float-breakpoint:767px screen-xs:600px screen-sm:736px screen-md:932px screen-lg:1196px";
}