.page-header {
  border-bottom: 1px solid #444;
}
.page-subheader {
  border-bottom: 1px solid #444;
}
.divider-vertical {
  border-top: 1px solid #222;
  border-bottom: 1px solid #444;
}
.logo-text h1 {
  color: #fff;
}
.logo-text h1 a {
  color: #fff;
}
.logo-text .site-slogan {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.head-search .input {
  background: url("../../../templates/t3_blank/images/themes/dark/ico/search.png") no-repeat 8px center;
}
.head-search .input:focus {
  color: #fff;
}
.module_menu .nav > li {
  border-top: 1px solid #444;
}
.t3-mainnav.inverted .navbar .nav > .active > a,
.t3-mainnav.inverted .navbar .nav > .active > a:hover,
.t3-mainnav.inverted .navbar .nav > .active > a:focus {
  color: #fff;
  background-color: #008ada;
  background-image: -moz-linear-gradient(top,#0097ee,#07b);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#0097ee),to(#07b));
  background-image: -webkit-linear-gradient(top,#0097ee,#07b);
  background-image: -o-linear-gradient(top,#0097ee,#07b);
  background-image: linear-gradient(to bottom,#0097ee,#07b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0097ed', endColorstr='#ff0077bb', GradientType=0);
}
.input-append .add-on,
.input-prepend .add-on {
  background: #444;
}
.nav-tabs.nav-stacked > li > a,
.pagination a,
.pagination span {
  border-color: #444;
}
.pagination a:hover,
.pagination .active a,
.pagination .active span,
.pagination a,
.pagination span {
  background: #444;
}
.btn {
  text-shadow: none;
}